/* 声明字体图标 这里一定要注意路径的变化 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tomleg");
  src: url("../fonts/icomoon.eot?tomleg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tomleg") format("truetype"),
    url("../fonts/icomoon.woff?tomleg") format("woff"),
    url("../fonts/icomoon.svg?tomleg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: Arial, sans-serif, Spiegel, NotoSans-Medium, "Arial Narrow", ;
}

body {
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  color: rgb(11, 11, 12);
  font-size: 16px;
  
}
/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
  /* background-color: orange !important; */
}
.fl {
  float: left;
}

.fr {
  float: right;
}

/* topnav start  */
.topnav {
  height: 60px;
  line-height: 60px;
  background-color: #181842;
}

.topnav ul li {
  float: left;
  height: 60px;
  padding: 0 20px;
}

.topnav ul li:hover {
  border-bottom: 3px solid #d3e0f7;
}

.topnav ul li a {
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}



/* footer  */
footer {
  background-color: #181842;
}

.footer-box {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px ;
}

.footer-box img {
  width: 160px;
  height: 80px;
  margin: 20px 0;
}

.footer-box ul li {
  display: inline;
}

.footer-box ul li a {
  margin: 0 15px;
  font-size: 35px;
}


.linkedin-logo {
  content: 'e900';
  font-family: icomoon;
}

.gmail-logo {
  content: 'e901';
  font-family: icomoon;
}

.github-logo {
  content: 'eab0';
  font-family: icomoon;
}