.contact {
background-color: pink;
text-align: center;
}

.contact ul li {
    padding: 10px 0;
}
.contact ul li a {
    font-size: 40px;
}

.linkedin-logo {
    content: 'e900';
    font-family: icomoon;
  }
  
  .gmail-logo {
    content: 'e901';
    font-family: icomoon;
  }
  
  .github-logo {
    content: 'eab0';
    font-family: icomoon;
  }