.project a {
  background-color: #a6172d !important;
}

/* banner start  */
.my-info {
  width: 70%;
  margin: 0 auto;
  /* background-color: antiquewhite; */
  border-bottom: 2px solid #181842;
}

.my-info img {
  float: right;
  height: 330px;
  width: 290px;
  padding-top: 60px;
}

.my-info-content {
  float: left;
  width: 480px;
  height: 400px;
  /* background-color: pink; */
  padding-top: 30px;
}

.my-info-content ul li {
  /* background-color: yellow; */
  margin: 10px 0;
  text-align: center;
}

/* project start  */
.project {
  padding: 30px 0;
}
.project table {
  height: 400px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  border-collapse:collapse; 
  /* background-color: pink; */
  
}

.project table .title {
  height: 30px;
}

.project table tr {
  height: 20px;
  
  /* background-color: yellow; */
}

.project table tr td,
.project table tr th {
  border: 2px solid #c72e45;
} 

.project table tr td {
  padding: 10px;
  /* background-color: yellow; */
}

.project table tr td img {
  width: 250px;
}