.resume {
  font-size: 50px;
  color: black;
}

.resume-window {
  width: 800px;
  margin: 0 auto;
}

.resume-window a {
  display: block;
  font-size: 18px;
  line-height: 42px;
  height: 42px;
  width: 180px;
  border-radius: 2px;
  margin: 20px auto 20px;
  text-align: center;
  background-color: #c72e45;
}
