/* project start  */
.project {
  padding: 30px 0;
}
.project a {
  background-color: #a6172d !important;
}
.project table {
  height: 400px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  /* background-color: pink; */
}

.project table .title {
  height: 30px;
}

.project table tr {
  height: 20px;

  /* background-color: yellow; */
}

.project table tr td,
.project table tr th {
  border: 2px solid #c72e45;
}

.project table tr td {
  padding: 10px;
  /* background-color: yellow; */
}

.project table tr td img {
  width: 250px;
}
